.background {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: .5s linear;
    width: 100%;
    z-index: -9999;
}
.background.active {
    opacity: 1;
}

.background.img1 {
    background: url(../assets/Фон_НЕпрозрачный_кусок.png) 10px 0 repeat;
    background-size: 300px;
}

.background.img2 {
    background: url(../assets/Фон2_тест.png) -10px 10px repeat;
    background-size: 300px;
}

.background.img3 {
    background: url(../assets/Фон3_тест.png) -200px 140px repeat;
    background-size: 300px;
}


/* Header */
.header-wrapper {
    position: absolute;
    height: 300px;
    left: 50%;
    min-width: 1000px;
    top: 0;
    transform: translateX(-50%) translateY(-20%);
    width: 80%;

    .header-design-element {
        background: url(../assets/Шапка_элем-оформления_задник_полный-размер.png) 0 0 no-repeat;
        background-size: 100%;
        height: 300px;
        width: 100%;
    }
}


/* Footer */
.footer-wrapper {
    position: absolute;

    .footer-design-element {
        background: url(../assets/Подвал_задник_полный-размер.png) 0 0 no-repeat;
        background-size: 100%;
        height: 100%;
        width: 100%;
    }
}
