<!-- Background(s) -->
<div *ngFor="let numb of [1,2,3]" class="background img{{numb}}" [ngClass]="{'active': activeBackground === numb}">
</div>

<!-- Header -->
<div class="header-wrapper">
    <div class="header-design-element"></div>
</div>

<!-- Menu -->
<div class="menu-wrapper">
    <div class="menu-design-element"></div>
    <div class="menu-items-wrapper">
        <a *ngFor="let item of menuItems" class="menu-item menu-item-{{item.numb}}" (click)="menuItemClicked(item)">
            <div class="menu-item{{item.numb}}-background"></div>
            <span>{{item.text}}</span>
        </a>
    </div>
    <div *ngFor="let numb of [1,2,3]">
        <button (click)="changeBackground(numb)">Change background {{numb}}</button>
        <br>
    </div>
</div>

<!-- Footer -->
<div class="footer-wrapper">
    <div class="footer-design-element"></div>
</div>
