<!-- Random 1px element to fix position of header -->
<div style="height: 1px; position: relative;"></div>


<!-- Background(s) -->
<div *ngFor="let numb of [1,2,3]" class="background img{{numb}}" [ngClass]="{'active': activeBackground === numb}">
</div>

<!-- Header -->
<div class="header-wrapper">
    <div class="header-design-element background{{activeBackground}}"></div>
    <div class="header-logo"></div>
    <!-- Titles -->
    <div *ngFor="let title of [
                {numb: 1, text: 'Афиша'},{numb: 2, text: 'Проекты'},
                {numb: 3, text: 'Fools funny crew'}, {numb: 4, text: 'Теплообмен'},
                {numb: 5, text: 'Детская студия эстетического развития'}, {numb: 6, text: 'Хореография для всех'}
            ]"
            class="header-title header-title-{{title.numb}}">
        &nbsp;&nbsp;&nbsp;{{title.text}}&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>

<!-- Menu -->
<div class="menu-wrapper">
    <div class="menu-design-element" (click)="openMenu()"></div>
    <div class="menu-items-wrapper">
        <a *ngFor="let item of menuItems" class="menu-item menu-item-{{item.numb}}" [ngClass]="{'menu-opened': menuOpened}" (click)="menuItemClicked(item)">
            <div class="menu-item-background menu-item{{item.numb}}-background"></div>
            <span id="item-span{{item.numb}}">{{item.text}}</span>
        </a>
    </div>
</div>

<!-- Content -->
<content class="content-component" [ngClass]="{'menu-opened': menuOpened}"></content>

<!-- Footer -->
<div class="footer-wrapper">
    <div class="footer-design-element"></div>
    <div class="footer-description global-font-resize">Цель ЦЕХа - создание проектов синтеза различных форм
        искусств таких как хореография, пантомима, поэзия, технологии проекций, актёрское мастерствои др.
    </div>
    <div class="footer-updates-wrapper">
        <div class="footer-updates-title-wrapper">&nbsp;&nbsp;Подписаться на обновления &nbsp;&nbsp;&nbsp;&nbsp;</div>
        E-mail&nbsp; <input type="email" class="footer-updates-input-email"> <br>
        Имя&nbsp; <input type="text" class="footer-updates-input-name">
        <div class="footer-updates-ok-wrapper">&nbsp;Оk&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="footer-contacts-wrapper global-font-resize">
        <span style="color: green">Контакты:</span> <br>
        +37544 7452248 (vel) <br>
        +37529 2355900 (мтс) <br>
        <br>
        <span style="color: #0096bc">Адрес:</span> <br>
        ул. Пушкина 7 <br>
        (второй корпус <br>
        колледжа искусств)
    </div>
    <div class="footer-map-wrapper"></div>
</div>
