.affiches-preview-wrapper {
    border: 1px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.affiches-preview-wrapper:hover {
    border: 1px solid green;
}

.affiches-preview-title {
    font-size: 16pt;
    font-weight: bold;
}

.affiches-preview-img {
    border: 1px solid black;
    float: left;
    margin-right: 8px;
    min-height: 80px;
    min-width: 20%;
    width: 20%;
}

.affiches-preview-description {
    font-size: 14pt;
}

.hr {
    border: 1px solid black;
    clear: left;
    display: block;
    margin-top: 10px;
    width: 100%;
}
.affiches-preview-wrapper-wrap:last-child .hr {
    display: none;
}
