/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 240px;      // Depends on footer height (app/app.component.scss)
    position: relative;
}

// Custom font (used in menu items)
@font-face {
    font-family: 'MyriadPro-BoldCond';        // Name of the font
    src: url('assets/MyriadPro-BoldCond.otf');
}
